.base-table {
  --easy-table-border: 1px solid var(--color-stroke);
  --easy-table-header-font-size: 16px;
  --easy-table-header-item-padding: 20px 28px 20px 8px;
  --easy-table-body-row-font-size: 16px;
  --easy-table-body-item-padding: 8px;
  --easy-table-body-row-hover-background-color: var(--color-input-bg-hover);
  --easy-table-row-border: none;

  overflow: hidden;
  border-radius: var(--radius-m);

  &__header-cell--active {
    --easy-table-header-font-color: var(--color-primary);
    --easy-table-header-background-color: var(--color-primary-hover-accent);
  }

  .cell-list-vertical-item {
    padding: 1px;
  }

  &__row &__cell,
  &__header &__header-cell {
    font-weight: 400;
    text-align: left;
    transition: background-color 0.3s;
  }

  &__row:first-child &__cell {
    border-top: 1px solid var(--color-stroke);
  }

  &__header-cell--active + &__header-cell::after,
  &__header-cell:hover::after,
  &__header &__header-cell--active::after,
  &__header-cell:hover:hover + &__header-cell::after {
    content: "";
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: -1px;
    opacity: 1;
    width: 1px;
    background-color: var(--color-text-disabled);
  }

  &__header-cell::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -1px;
    opacity: 0;
    width: 1px;
    background-color: var(--color-text-disabled);
    transition: opacity 0.2s;
  }

  &__header-cell::before {
    content: "";
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 20px;
    left: -1px;
    width: 1px;
    background-color: var(--color-text-disabled);
  }

  &__row:nth-child(odd) &__cell {
    --easy-table-body-row-background-color: var(--color-input-bg);
  }

  &__header-cell:hover {
    --easy-table-header-background-color: var(--color-input-bg-hover);
  }
}
