.title {
  flex: 0 1 auto;
  margin: 0;
  font-weight: 400;
  hyphens: manual;
  color: var(--color-text-main);

  &:focus-visible {
    border-radius: var(--radius-m);
    outline: var(--outline-static);
  }

  &--large {
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
  }

  &--medium {
    font-size: var(--font-size-subtitle);
    line-height: var(--line-height-subtitle);
  }

  &--small {
    font-size: var(--font-size-text);
    line-height: var(--line-height-text);
  }

  &--uppercase {
    text-transform: uppercase;
  }
}
