.modal-mobile {
  transition: transform 0.2s linear;

  @include only-mobile {
    --offset: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: auto;
    padding-bottom: 24px;
    background-color: #ffffff;
    border-radius: var(--radius-lesser) var(--radius-lesser) 0 0;
    transform: translateY(var(--offset));
  }

  &::after {
    @include only-mobile {
      content: "";
      position: absolute;
      top: 8px;
      left: 50%;
      display: block;
      width: 50px;
      height: 2px;
      background: var(--color-text-secondary);
      border-radius: 5px;
      transform: translateX(-50%);
    }
  }
}

.modal-mobile-background {
  @include only-mobile {
    position: fixed;
    z-index: 20;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    gap: 16px;
    justify-content: stretch;
    align-items: center;
    padding: 16px 0 0 0;
    overflow: auto;
    background: var(--color-mobal-bg);
  }
}
